<%= form_with(model: note, class: "contents") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col mb-4">
    <%= form.label :title %>
    <%= form.text_field :title, class:"w-full mt-2 p-2 border border-black rounded-md hover:border-black h-10" %>
  </div>

  <div class="flex flex-col mb-4">
    <%= form.label :description %>
    <%= form.text_area :description,rows: 5,class:"w-full mt-2 p-2 border border-black rounded-md hover:border-black " %>
  </div>

  <div class="flex flex-col mb-4">
    <%= form.label :color ,'Select color'%>
    <div class="flex gap-4 mt-2">
      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-red-300" ,class:"hidden"%>
        <div class="color-option bg-red-300 h-8 w-8 rounded-full">
        </div>
      </label>

      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-lime-300" ,class:"hidden"%>
        <div class="color-option bg-lime-300 h-8 w-8 rounded-full">
        </div>
      </label>

      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-teal-300",class:"hidden"%>
        <div class="color-option bg-teal-300 h-8 w-8 rounded-full">
        </div>
      </label>

      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-cyan-300",class:"hidden"%>
        <div class="color-option bg-cyan-300 h-8 w-8 rounded-full">
        </div>
      </label>

      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-amber-300",class:"hidden"%>
        <div class="color-option bg-amber-300 h-8 w-8 rounded-full">
        </div>
      </label>

      <label class="flex gap-2">
        <%= form.radio_button :color, "bg-indigo-300",class:"hidden"%>
        <div class="color-option bg-indigo-300 h-8 w-8 rounded-full">
        </div>
      </label>

    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "border border-black bg-black text-white rounded-md px-6 py-3 hover:bg-gray-700  inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<style>
  .color-option{
      cursor: pointer;
  }

  input[type="radio"]:checked + .color-option{
      border: 1px solid black;
  }
</style>