

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <div class="flex flex-col items-center justify-center">
    <%= link_to 'Notes',root_path,class:"font-medium text-3xl py-8" %>

    <div class="flex flex-col rounded-md items-center border border-black py-4 px-6">

      <h2 class="font-medium text-2xl mb-8">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="flex flex-col mb-4">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"min-w-96 border border-black rounded-md hover:border-black h-10" %>
        </div>

        <div class="flex flex-col mb-4">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" ,class:"min-w-96 border border-black rounded-md hover:border-black h-10"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me,class:"h-4 w-4 rounded border-black text-black focus:ring-black" %>
            <%= f.label :remember_me, class:"ms-1" %>
          </div>
        <% end %>

        <div class="flex justify-center mt-4">
          <%= f.submit "Log in" ,class:"w-min bg-black text-white rounded-md px-6 py-2 hover:bg-gray-700 "%>
        </div>
      <% end %>



    </div>
    <div class="flex  justify-content-between mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

